#editorFrame {
    width: 100%;
}


.menu {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.menu ul {
    padding: 0;
    width: 100%;
}

.menu ul li{
    padding: 10px 0 10px 10px;
    width: 100%;
}

.menu li {
    width: 100%;
    transition: all 0.5s ease;
    list-style: none;
    padding: 10px 0;
    margin: 0 auto;
}

.menu li:hover {
    
    background-color: rgba(0, 0, 0, 0.3);
}

