html, body {
    height: 100%;
}

#editorFrame {
    width: 100%;
    height: 99%;
    overflow-y: scroll;
}


div.row, div.container-fluid {
    height: 100%;
}


.menu {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    user-select: none;
}

.menu ul {
    padding: 0;
    width: 100%;
}

.menu ul li{
    padding: 10px 0 10px 10px;
    width: 100%;
}

.menu li {
    width: 100%;
    transition: all 0.5s ease;
    list-style: none;
    /*padding: 10px 0;*/
    margin: 0 auto;
}

.menu li > div {
    padding: 10px;
}

.menu > li:hover > div:first-child {
    background-color: rgba(0, 0, 0, 0.4);
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.selector{
    position: fixed;
    background: rgba(0,100,255,0.3);
    border:1.5px solid #0055FF;
    border-radius:2px;
    pointer-events: none;
}

.contextMenu {
    position: fixed;
    background: rgba(99, 99, 99, 0.651);
    opacity: 0.9;
    border-radius: 5px;
    
}

.contextMenuItem {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
}
