
<div id="element">
    <div id="elementHtml">
     
      <div container>
        
         <div>
            <iframe frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>
          
      </div>
       
        
    </div>
    
    <pre id="elementConfig">
        
        {
            "properties" :  
            [ 
                { 
                    "selector": "iframe",
                    "title" : "Ancho", 
                    "name" : "width", 
                    "default" : 560,
                    "template": "input"
                },
                { 
                    "selector": "iframe",
                    "title" : "Alto", 
                    "name" : "height", 
                    "default" : 315,
                    "template": "input"
                },
                { 
                    "selector": "iframe",
                    "title" : "Fuente", 
                    "name" : "src", 
                    "default" : "https://www.youtube.com/embed/FE8BLGtxIVY",
                    "template": "input"
                }
            ]
        }

    </pre>
    
</div>